.header {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
}

.header__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: var(--font-size--xxl);
    font-weight: var(--font-weight--default);
    letter-spacing: 1px;
}

.header__btns {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.header__btn {
    transition:
            all
            var(--transition-duration)
            var(--transition-timing-function)
            var(--transition-delay);
    padding: 10px 20px;
    margin-right: 10px;
    background-color: var(--bg-color--dark);
    border: 1px solid var(--border-color--light);
    border-radius: 3px;
    cursor: pointer;
    outline: none;
}

.header__btn:hover {
    color: var(--font-color--dark);
    background-color: var(--bg-color--light);
}