.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    font-size: var(--font-size-lg);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.start {
    --bg-color--start3: #00B02DFF;
    --bg-color--end3: #006aff;

    background-image: linear-gradient(
            315deg,
            var(--bg-color--start3) 0%,
            var(--bg-color--start3) 20%,
            var(--bg-color--end3) 80%)
}

.stop {
    --bg-color--start1: #da7600;
    --bg-color--end1: #ff0058;

    background-image: linear-gradient(
            315deg,
            var(--bg-color--start1) 0%,
            var(--bg-color--start1) 20%,
            var(--bg-color--end1) 80%
    );
}

.reset {
    --bg-color--start2: #CA0043FF;
    --bg-color--end2: #7600DFFF;

    background-image: linear-gradient(
            315deg,
            var(--bg-color--start2) 0%,
            var(--bg-color--start2) 20%,
            var(--bg-color--end2) 80%
    );
}