.stopwatchContainer {
    position: relative;
    width: 95%;
    max-width: 800px;
    height: 90vh;
    max-height: 700px;
    margin: 0 auto 50px;

    border: 2px solid #ffffff;
}

.circle {
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    --dimensions: 300px;
    --bg-color--end: #ff0058;
    --bg-color--start: #ffbc00;


    top: 0;
    left: 0;
    width: var(--dimensions);
    height: var(--dimensions);
    background-image: linear-gradient(
            315deg,
            var(--bg-color--start) 0%,
            var(--bg-color--start) 20%,
            var(--bg-color--end) 80%
    );
}