:root {
    /* colors declarations !!! DON'T USE IT outside :root or directly */
    --white: #fff;
    --dark-grey: #03080E;

    /* functions colors declarations !!! USE ONLY THEM */
    --dark: var(--dark-grey);
    --light: var(--white);

    /* media queries: we can't use values in @media directly but shall use only these breakpoints */
    --tablet: 750px;
    --mobile: 550px;
    --mobile--sm: 400px;

    /* other variables */
    --font-size-default: 16px;
    --font-size-lg: 20px;
    --font-size-xl: 25px;
    --font-size--xxl: 35px;

    --font-weight--default: 400;
    --font-weight--semibold: 600;

    --font-color--default: var(--light);
    --font-color--dark: var(--dark);

    --bg-color--dark: var(--dark);
    --bg-color--light: var(--light);

    --border-color--light: var(--light);

    --transition-duration: .2s;
    --transition-timing-function: linear;
    --transition-delay: 0s;
}

html,
body {
    overflow-x: hidden;
    overflow-y: visible;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size-default);
    color: var(--font-color--default);
    background-color: var(--bg-color--dark);
}

body a {
    color: inherit;
    text-decoration: none;
}