.stopWatchHeader {
    text-align: center;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: var(--font-weight--default);
    letter-spacing: 1px;
    text-shadow: 0 0 8px rgba(0,0,0,.6);
}

.description {
    margin: 0;
    text-shadow: 0 0 8px rgba(0,0,0,.6);
}